// Imports 

// Variables

// Base Element Styles
body{
    padding: 0;
    background-color: lightsteelblue;
    font-family: Helvetica, Arial, san-serif;
    font-size: 16px;
    color: black;
}


// Classes